{% extends 'base.html' %}



{% block title %} Flask CRUD {% endblock %}



{% block body %}

<div class="jumbotron p-3">
    <div class="well text-center">

        <h3>Benefacts QA Testing  </h3>

    </div>


</div>


{% endblock %}