<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-size:30px;">
<!--    <a class="navbar-brand" href="#">Navbar</a> -->
    <div id="navbarNav">
<ul class="navbar-nav">



    <li class="nav-item {{ context.testdef_page }}">
       <a class="nav-link" href="{{url_for('testdef')}}">Test Definition</a>
    </li>
 <li class="nav-item {{ context.testresult_page }}">
       <a class="nav-link" href="{{url_for('testresult')}}">Test Result</a>
    </li>


  </ul>
</div>
  </nav>


</body>
</html>