{% include 'header.html' %}



{% block title %}  {% endblock %}



{% block body %}

<div class="container">
    <div class="row">
        <div class="col md-12">

            <div class="jumbotron p-3">

                <h3><b>Test Definitions </b>  <button type="button"  class="btn btn-success float-right"
                data-toggle="modal" data-target="#mymodal">Add New Test Definition</button> </h3>


                {% with messages = get_flashed_messages() %}

                {% if messages %}

                {% for message in messages %}

                <div class="alert alert-success alert-dismissable" role="alert">

                    <button type="button" class="close" data-dismiss="alert" aria-label="close">

                        <span aria-hidden="true">x</span>

                    </button>


                {{message}}


                </div>


                {% endfor %}

                {% endif %}
                {% endwith %}


                <table class="table table-hover table-dark">

                    <tr>

                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Latest Run</th>




                    </tr>


                   {% for row in testdefs %}
                    <tr>
                        <td>{{row.TestDefId}}</td>
                        <td>{{row.TestName}}</td>
                        <td>{{row.TestDesc}}</td>
                        <td>{{row.MostRecentTestOutcome}} &nbsp {{row.MostRecentTestDateTime}}</td>


                        <td>
                            <a href="/runps/{{row.TestName}}" class="btn btn-warning btn-xs" >Run</a>
                            <a href="/update_testdef/{{row.TestDefId}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.TestDefId}}">Edit</a>
                            <a href="/delete_testdef/{{row.TestDefId}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</a>
                            <a class="label label-primary" href=/download/{{row.TestName}}.txt target="_blank" style="margin-right: 5px;">Latest Logs</a>


                        </td>

                    </tr>


                  <!-- Modal Edit Employee-->
<div id="modaledit{{row.TestDefId}}" class="modal fade" role="dialog">
   <div class="modal-dialog">


      <div class="modal-content">


         <div class="modal-header">


            <h4 class="modal-title">Update Information</h4>


         </div>


         <div class="modal-body">


            <form action="{{url_for('update_testdef')}}" method="POST">


               <div class="form-group">

                 <input type="hidden"  name="id" value="{{row.TestDefId}}">
                   <label>Name:</label>
                   <input type="text" class="form-control" name="testname" value="{{row.TestName}}">
                  <label>Description:</label>
                   <input type="text" class="form-control" name="testdesc" value="{{row.TestDesc}}">


               </div>






               <div class="form-group">


                  <button class="btn btn-primary" type="submit">Update</button>


               </div>


            </form>


         </div>


         <div class="modal-footer">


            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


         </div>


      </div>


   </div>

</div>


                    {% endfor %}


                </table>


            </div>



                  <!-- Modal Add Employee-->


<div id="mymodal" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">

            <h4 class="modal-title">Add Employee</h4>
         </div>
         <div class="modal-body">

            <form action="{{url_for('insert_testdef')}}" method="POST">


               <div class="form-group">

                   <label>Test Name:</label>
                  <input type="text" class="form-control" name="testname" required="1">
                  <label>Test Description:</label>
                  <input type="text" class="form-control" name="testdesc" required="1">


               </div>




               <div class="form-group">


                  <button class="btn btn-primary" type="submit">Add Test</button>


               </div>


            </form>


         </div>


         <div class="modal-footer">


            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


         </div>


      </div>


   </div>


</div>





        </div>

    </div>
<h5>This is Python Flask Version with ORM</h5>
<a class="label label-primary" href=http://vmtestdb2.inp.local:5001/TestDefinitionAddAndList/TestDefinitionAddAndList# target="_blank" style="margin-right: 5px;">Previous .net Core Version</a>

</div>


{% endblock %}