{% include 'header.html' %}



{% block title %} {% endblock %}



{% block body %}

<div class="container">
    <div class="row">
        <div class="col md-12">

            <div class="jumbotron p-3">

                <h4> <b>Test Results </b>
                <!--    <button type="button"  class="btn btn-success float-right"
                data-toggle="modal" data-target="#mymodal">Add</button>
                -->
                </h4>


                {% with messages = get_flashed_messages() %}

                {% if messages %}

                {% for message in messages %}

                <div class="alert alert-success alert-dismissable" role="alert">

                    <button type="button" class="close" data-dismiss="alert" aria-label="close">

                        <span aria-hidden="true">x</span>

                    </button>


                {{message}}


                </div>


                {% endfor %}

                {% endif %}
                {% endwith %}


                <table class="table table-hover table-dark">

                    <tr>

                        <th>Result ID</th>
                        <th>Test Def ID / Name</th>
                        <th>Date Run</th>
                        <th>Result</th>



                    </tr>


                   {% for row in testresults %}
                    <tr>
                        <td>{{row.TestResultID}}</td>
                        <td>{{row.TestResultTestDefId}} / {{row.TestName}}</td>
                        <td>{{row.TestResultDate}}</td>
                        <td>{{row.TestResultOutcome}}</td>
                        <td></td>
                        <td>
                            <a href="/update_testresult/{{row.TestResultID}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.TestResultID}}">Edit</a>
                            <a href="/delete_testresult/{{row.TestResultID}}" class="btn btn-danger btn-xs" >Delete</a>


                        </td>

                    </tr>


                  <!-- Modal Edit Employee-->
<div id="modaledit{{row.TestResultID}}" class="modal fade" role="dialog">
   <div class="modal-dialog">


      <div class="modal-content">


         <div class="modal-header">


            <h4 class="modal-title">Update Information</h4>


         </div>


         <div class="modal-body">


            <form action="{{url_for('update_testresult')}}" method="POST">

<input type="hidden"  name="TestResultID" value="{{row.TestResultID}}">
               <div class="form-group">

                  <label>Test Def ID:</label>


                  <input type="text" class="form-control" name="TestResultTetDefId" value="{{row.TestResultTestDefId}}">


               </div>



               <div class="form-group">


                  <label>TestResultDate:</label>

                  <input type="text" class="form-control" name="TestResultDate" value="{{row.TestResultDate}}">


               </div>


               <div class="form-group">


                  <label>TestResultOutcome:</label>

                  <input type="text" class="form-control" name="TestResultOutcome" value="{{row.TestResultOutcome}}">


               </div>


               <div class="form-group">


                  <button class="btn btn-primary" type="submit">Update</button>


               </div>


            </form>


         </div>


         <div class="modal-footer">


            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


         </div>


      </div>


   </div>

</div>


                    {% endfor %}


                </table>


            </div>



                  <!-- Modal Add Employee-->


<div id="mymodal" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">

            <h4 class="modal-title">Add Res</h4>
         </div>
         <div class="modal-body">

            <form action="{{url_for('insert_testresult')}}" method="POST">


               <div class="form-group">

                  <label>DefID:</label>
                  <input type="text" class="form-control" name="TestResultTestDefId" required="1">


               </div>

                     <div class="form-group">

                  <label>Test Date:</label>
                  <input type="text" class="form-control" name="TestResultDate" required="1">


               </div>

                     <div class="form-group">

                  <label>Result:</label>
                  <input type="text" class="form-control" name="TestOutcome" required="1">


               </div>


                <div class="form-group">


                  <label>TestResultDate:</label>
                  <input type="text" class="form-control" name="TestResultDate" required="1">


               </div>


                <div class="form-group">


                  <label>TestResultOutcome:</label>
                  <input type="number" class="form-control" name="TestResultOutcome" required="1">


               </div>



               <div class="form-group">


                  <button class="btn btn-primary" type="submit">Add Result</button>


               </div>


            </form>


         </div>


         <div class="modal-footer">


            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


         </div>


      </div>


   </div>


</div>





        </div>

    </div>


</div>


{% endblock %}